*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainContainer{
    position: absolute;
    width: 100%;
    height: 80%;
}

.formContainer{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.lable{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
}

.buttonFont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   background-color: blueviolet;
   color: white;
}

  .secondContainer{
    position: relative;
    width: 80%;
    height: 90%;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thirdContainer{
    position: relative;
    width: 98%;
    height: 98%;
    
}

.firstValue{
    position: relative;
}
.lastValue{
    position: relative;
}






